@font-face {
  font-family: "GothamSSm";
  src: url("./fonts/GothamSSm-Medium.woff") format("woff");
}
body {
  margin: 0;
  font-family: "GothamSSm", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
